In [19]:
import pandas as pd
import zipfile

zf = zipfile.ZipFile('MobilePriceClassification.zip') # having First.csv zipped file.
#df = pd.read_csv(zf.open('MobilePriceClassification/train.csv'))
df = pd.read_csv('MobilePriceClassification/train.csv')

In [20]:
df.head(5)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [21]:
x=df.drop('price_range',axis=1)

In [22]:
x.head(5)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [23]:
x.shape

(2000, 20)

In [24]:
y=df['price_range']

In [25]:
y.head(5)

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

# Using linear Regression model

In [27]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [29]:
lm.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [55]:
lm.score(x,y)

0.9186309555753549

# KNN

In [56]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [57]:
knn.score(x,y)

0.944

In [58]:
for i in range(1,20):
    
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x,y)

In [59]:
knn.score(x,y)

0.9465

# Logistic

In [72]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()

In [73]:
logmodel.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [74]:
lm.score(x,y)

0.9186309555753549

# Test Data

In [75]:
#test_df = pd.read_csv(zf.open('MobilePriceClassification/test.csv'))
test_df = pd.read_csv('MobilePriceClassification/test.csv')

In [76]:
test_df.head(5)

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

In [77]:
x_test=test_df.drop('id',axis=1)

In [78]:
id=test_df['id']

# Linear regression Prediction

In [64]:
y_test=lm.predict(x_test)

In [65]:
y_test.size

1000

In [66]:
y_test[0]

2.5191707414650777

In [67]:
import math

In [68]:
for i in range(len(y_test)):
    y_test[i] = abs(round(y_test[i]))
    if y_test[i] > 3:
        y_test[i] = 3

# knn Prediction

In [48]:
y_test=knn.predict(x_test)

In [49]:
y_test.size

1000

In [50]:
y_test[0]

3

# logistic

In [79]:
y_test=logmodel.predict(x_test)

In [80]:
y_test[0]

3

# Submission File

In [81]:
output = pd.DataFrame(columns =['id','price_range'])

In [82]:
output['id']=id
output['price_range']=y_test

In [83]:
output.to_csv('submission_file.csv',index = False)